@{
    ViewBag.Title = "Ayarlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-heading">
    <h1 class="page-title">Ayarlar</h1>
</div>

<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-6 col-sm-4 col-md-3">
            <a href="/apayarlar/firmaayar">
                <div class="card ayar-button">
                    <div class="card-body">
                        <h5 class="card-title text-center">Firma Bilgileri</h5>
                        <div class="ayar-icon">
                            <div class="ayar-icon-item"><i class="fa ti-bookmark-alt"></i></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
            <a href="/apayarlar/sayfaayar">
                <div class="card ayar-button">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sayfalar</h5>
                        <div class="ayar-icon">
                            <div class="ayar-icon-item"><i class="fa fa ti-layers"></i></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
            <a href="/apayarlar/popupayar">
                <div class="card ayar-button">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pop-up</h5>
                        <div class="ayar-icon">
                            <div class="ayar-icon-item"><i class="fa ti-layout-tab-window"></i></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
            <a href="/apayarlar/sliderayar">
                <div class="card ayar-button">
                    <div class="card-body">
                        <h5 class="card-title text-center">Slider</h5>
                        <div class="ayar-icon">
                            <div class="ayar-icon-item"><i class="fa ti-layout-slider"></i></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-6 col-sm-4 col-md-3">
            <a href="/apayarlar/sosyalmedya">
                <div class="card ayar-button">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sosyal Medya</h5>
                        <div class="ayar-icon">
                            <div class="ayar-icon-item"><i class="fa ti-direction-alt"></i></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
            <a href="/apayarlar/sabitlerayar">
                <div class="card ayar-button">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sabitler</h5>
                        <div class="ayar-icon">
                            <div class="ayar-icon-item"><i class="fa ti-pin-alt"></i></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
            <a href="/apayarlar/ceoayar">
                <div class="card ayar-button">
                    <div class="card-body">
                        <h5 class="card-title text-center">CEO</h5>
                        <div class="ayar-icon">
                            <div class="ayar-icon-item"><i class="fa ti-stats-up"></i></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
            <a href="/apayarlar/hesapayar">
                <div class="card ayar-button">
                    <div class="card-body">
                        <h5 class="card-title text-center">Hesap</h5>
                        <div class="ayar-icon">
                            <div class="ayar-icon-item"><i class="fa ti-star"></i></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
