<h6 class="m-t-10 m-b-10">Klasörler</h6>
<ul class="list-group list-group-divider inbox-list">
    <li class="list-group-item">
        <a href="/apmanager/mesajlar/gelenmesajlar">
            <i class="fa fa-envelope-o"></i> Gelen Mesajlar
        </a>
    </li>
    <li class="list-group-item">
        <a href="/apmanager/mesajlar/favorimesajlar">
            <i class="fa fa-star-o"></i> Favori Mesajlar
        </a>
    </li>
    <li class="list-group-item">
        <a href="/apmanager/mesajlar/silinenmesajlar">
            <i class="fa fa-trash-o"></i> Silinen Mesajlar
        </a>
    </li>
</ul>