@model IEnumerable<WebProduct.Models.Urunler>
<div class="urunowl">
    <div class="owl1 owl-carousel owl-theme owl-loaded owl-drag">
        @foreach (var urun in Model)
        {
            <div class="item">
                <a href="/urunler/@urun.Kategoriler.KategoriURL/@urun.UrunURL">
                    <div class="urun-item">
                        <div class="urun-resim">
                            @if (urun.YeniUrun == true)
                            {
                                <img class="yeniurun" src="/Content/images/yeni.png" />
                            }
                            <img src="@urun.Resim1" class="img-responsive urunfoto" alt="urun" />
                        </div>
                        <div class="urun-kategori">
                            @urun.Kategoriler.KategoriAdi
                        </div>
                        <div class="urun-adi">
                            <span>
                                @urun.UrunAdi
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        }
     <div class="item">
            <a href="/urunler/kategori/urun">
                <div class="urun-item">
                    <div class="urun-resim">
                        <img src="/Content/images/image.jpg" class="img-responsive urunfoto" alt="urun" />
                    </div>
                    <div class="urun-kategori">
                        Kategori_Adı
                    </div>
                    <div class="urun-adi">
                        <span>
                            Lorem Ipsum Dolor Sit Amed.
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="/urunler/kategori/urun">
                <div class="urun-item">
                    <div class="urun-resim">
                        <img class="yeniurun" src="/Content/images/yeni.png" />
                        <img src="/Content/images/image.jpg" class="img-responsive urunfoto" alt="urun" />
                    </div>
                    <div class="urun-kategori">
                        Kategori_Adı
                    </div>
                    <div class="urun-adi">
                        <span>
                            Lorem Ipsum Dolor Sit Amed.
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="/urunler/kategori/urun">
                <div class="urun-item">
                    <div class="urun-resim">
                        <img src="/Content/images/image.jpg" class="img-responsive urunfoto" alt="urun" />
                    </div>
                    <div class="urun-kategori">
                        Kategori_Adı
                    </div>
                    <div class="urun-adi">
                        <span>
                            Lorem Ipsum Dolor Sit Amed.
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="/urunler/kategori/urun">
                <div class="urun-item">
                    <div class="urun-resim">
                        <img src="/Content/images/image.jpg" class="img-responsive urunfoto" alt="urun" />
                    </div>
                    <div class="urun-kategori">
                        Kategori_Adı
                    </div>
                    <div class="urun-adi">
                        <span>
                            Lorem Ipsum Dolor Sit Amed.
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="/urunler/kategori/urun">
                <div class="urun-item">
                    <div class="urun-resim">
                        <img src="/Content/images/image.jpg" class="img-responsive urunfoto" alt="urun" />
                    </div>
                    <div class="urun-kategori">
                        Kategori_Adı
                    </div>
                    <div class="urun-adi">
                        <span>
                            Lorem Ipsum Dolor Sit Amed.
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>