@{
    ViewBag.Title = "Hata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bgw">
    <div class="content-sec">
        <div class="row">
            <div class="col-xs-12">
                <div class="hatamessage">
                    <h1>404</h1><br />
                    <h5> İstek sırasında geçici bir hata oluşmuştur.<br />Gerekli bilgilerin tekrarlanmaması için çalışıyoruz. </h5>
                    <br /><br />
                    <input type="hidden" id="sayachidden" value="5" />
                    <div class="404sayac"><span></span> saniye içinde anasayfaya yönlendirileceksiniz.</div>
                </div>
            </div>

        </div>
    </div>
</div>
